    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <p>My Name is <span style = "font-family:'Comic Sans MS', cursive, sans-serif">Ahamed Musthafa</span> and I have 2 years of professional experience in developing web applications (python+django). Currently working as an Analytic Developer at Saama Technologies, Chennai. I love <a href = "https://en.wikipedia.org/wiki/Python_(programming_language)" target = "_blank"><em>Python</em></a> very much because of its simplicity and dynamicity.<br>
                <!--You can view my resume <a href="https://drive.google.com/open?id=1DDdWVpDcrGbWopwCsuBNRHjORtSg_Gzo" target = "_blank">HERE</a>-->
                </p>
                 
            </div>
        </div>
    </section>
