    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Projects</h2>
                    <p>You can view my projects in my GitHub profile.</p>
                    <a href="https://github.com/amrs-tech?tab=repositories" target = "_blank" class="btn btn-default btn-lg">Projects</a>
                </div>
            </div>
        </div>
    </section>
